$white: #FFFFFF;
$black: #000000;
$bluegray: #91A0B6;
$lightgray: #F6F6F6;
$skygray: #FDFDFD;
$freshgreen: #CFEDE6;
$leafgreen: #8CDECB;
$saturgreen: #04BF94;
$freshgray: #ADB8C8;
$smokegray: #78787A;
$simplegray: #C4C4C4;
